*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.img img{
    width: 100%;
    height: 90vh;
}
@media(max-width:770px){
    .img img{
        width: 100%;
        height:80vh;
    }
}
@media(max-width:480px){
    .img img{
        width: 100%;
        height: 300px;
    }
}
.blank{
    width: 100%;
    height: 100px;
    background-color: white;
}
.blank marquee{
    width: 100%;
    height: 70px;
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 25px;

}
.oder_online{
    display: flex;
}
.scanner_first img{
    width: 700px;
    height:700px;
    margin-top: 100px;
    opacity: 0.5;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.scanner img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 130vh;
    margin-left: 140px;
    opacity: 30;
}
.scanner h1{
    position: absolute;
    top: 215vh;
    margin-left: 230px;
}
.scanner_second input{
  width: 350px;
  height: 40px;
  font-weight: 600;
  margin-left: 150px;
  border: none;
  background-color: white;
  padding-left: 10px;
  box-shadow: 2px 2px rgb(104, 101, 101);
}
#input{
    margin-top: 100px;
}

.scanner_second button{
    margin-left: 150px;
    width: 170px;
    height: 55px;
    margin-top: 50px;
    background-color: red;
    border: none;
}
.scanner_second button a{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    
}
.scanner_second button:hover{
    background-color: rgb(15, 15, 39);
}
@media(max-width:770px){
    .oder_online{
        flex-direction: column;
    }
    .scanner_first img{
        width: 100%;
        margin-top: 10px;
    }
    .scanner img{
        width: 350px;
        height: 350px;
        top: 135vh;
        margin-left: 200px;
    }
    .scanner h1{
        top:200vh;
        margin-left:270px;
    }
    #input{
        margin-top: 50px;
    }
    .scanner_second input{
        margin-left: 190px;
    }
    .scanner_second button{
        margin-left: 190px;
    }
}
@media(max-width:480px){
    .oder_online{
        flex-direction: column;
    }
    .scanner_first img{
        width: 100%;
        height: 400px;
        margin-top: 10px;
    }
    .scanner img{
        width: 250px;
        height: 250px;
        top: 87vh;
        margin-left: 100px;
    }
    .scanner h1{
        top:130vh;
        margin-left:120px;
    }
    #input{
        margin-top: 50px;
    }
    .scanner_second input{
        margin-left: 100px;
        width: 250px;
    }
    .scanner_second button{
        margin-left: 100px;
        width: 100px;
        height: 40px;
    }
}
.map{
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}
.map iframe{
    border: 0;
    height: 400px;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
}
.footermain hr{
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
    color: black;
}
.footer{
    display: flex;
}
.footer1{
    width: 150px;
    height: 130px;
    margin-left: 100px;
    margin-top: 100px;
}
.footer1 a{
    color: rgb(161, 161, 161);
    font-size: 12px;
    font-weight: 600;
    font-family: gotham book;
}
#footerli{
    font-size: 20px;
    font-weight: 900;
    
    color: rgb(92, 92, 92);
}
.footer2{
    margin-left: 50px;
    margin-top: 140px;
  
}
.footer2 h1{
    color: rgb(161, 160, 160);
    font-size: 12px;
    font-weight: 600;
    font-family: gotham book;
}
.footer4{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 50px;
    
}
.footer4 a{
    color: rgb(161, 160, 160);
    font-size: 12px;
    font-weight: 600;
    font-family: gotham book;
}
.footer5{
    width: 200px;
    height: 200px;
    margin-left: 150px;
    margin-top: 10px;
   
}
.footer5 a{
    color: rgb(161, 160, 160);
    font-size: 12px;
    font-weight: 600;
    font-family: gotham book;
}
.footermain h1{
    color: rgb(92, 92, 92);
    font-size: 17px;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: gotham book;
}
@media(max-width:767px){
    .footer1{
        width: 100px;
        height: 200px;
        margin-left: 70px;
        
    }
    .footer2 li{
        margin-right: 80px;
        font-size: 17px;
    font-weight: 600;
    color: rgb(112, 112, 112);
    }
    .footer4{
        width: 200px;
        height: 250px;
        margin-left: 50px;
        
    }
    .footer5{
        width: 100px;
        height: 250px;
        margin-left: 50px;
        
    }
    #footerli{
        font-size: 15px;
        font-weight: 100;
    }
    .footermain h1{
        margin-left: 60px;
    }
}

@media(max-width:480px){
    .footer1{
        width: 100px;
        height: 200px;
        margin-left: 10px;
       
    }
    .footer2 li{
        margin-right: 80px;
        font-size: 17px;
    font-weight: 600;
    color: rgb(112, 112, 112);
    }
    .footer4{
        width: 200px;
        height: 250px;
        margin-left: 20px;
        
    }
    .footer5{
        width: 100px;
        height: 250px;
        margin-left: 20px;
       
    }
    #footerli{
        font-size: 15px;
        font-weight: 100;
    }
    .footermain h1{
        margin-left: 60px;
    }
}
